<div id="control_panel">

</div>
<div id="chat_input">
  {{#giphy-message-generator author="Anon" store=store}}
  {{/giphy-message-generator}}
</div>
<div id="chat_log">
  {{#each message as |message|}}
    {{message}}
  {{/each}}
</div>
